body {
    background: url("https://www.kensington.com/contentassets/f97ef3fff88e4345bda4cbafac8b2e56/forget-your-password-meta-image.jpg");
    background-size: cover;

    background-attachment: fixed;
}